<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myname="http://www.spring.customtag.com/schema/user"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.spring.customtag.com/schema/user
       http://www.spring.customtag.com/schema/user.xsd
  ">

<myname:user id="myUser" name="张三" age="200"/>

    <bean id="id" class="com.spring.model.HelloBean" scope="prototype" factory-method=""></bean>


</beans>